<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->


{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" id="name" required>

      <label for="age">Age</label>
      <input name="age" id="age" required>
    </div>

    <div class="form-group">
      <label for="street">Street</label>
      <input name="street" id="street" required>

      <label for="city">City</label>
      <input name="city" id="city" required>

      <label for="state">State</label>
      <input name="state" id="state" required>

      <label for="country">Country</label>
      <input name="country" id="country" required>
    </div>
    <div>
      <label for="zip_code">Zip Code</label>
      <input name="zip_code" id="zip_code" required>

      <label for="apartment">Apartment</label>
      <input name="apartment" id="apartment">
    </div>



    <div class="form-group">
      <label for="email_address">Email Address</label>
      <input name="email_address" id="email_address" required>
      <label for="occupation">Occupation</label>
      <input name="occupation" id="occupation" required>
      <label for="ssn">SSN</label>
      <input name="ssn" id="ssn">
    </div>


    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" id="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>

      <label class="sr-only" for="comorbidities">Comorbidities</label>
      <select name="comorbidities" id="comorbidities" class="selectpicker" data-live-search="true" multiple>
{#      <select multiple class="form-control" id="comorbidities" name="comorbidities">#}
                <option selected>None</option>
                <option>COPD</option>
                <option>Asthma</option>
                <option>Interstitial Lung Disease</option>
                <option>Cystic Fibrosis</option>
                <option>Cancer</option>
                <option>Heart Failure</option>
      </select>

    </div>
    <div class="form-group">
      <label for="insurance_company">Insurance Company</label>
      <input name="insurance_company" id="insurance_company" required>
      <label for="insurance_number">Insurance Number</label>
      <input name="insurance_number" id="insurance_number" required>
      <label for="exp_date">Exp. Date</label>
      <input name="exp_date" id="exp_date" required>

    </div>

    <div class="form-group">
      <label class="checkbox" for="covid_coverage">My Insurance Covers the Covid-19 Vaccine?  Yes</label>
<!--      <input type="hidden" name="covid_coverage" value="0">-->
      <input type="checkbox" name="covid_coverage" id="covid_coverage" >
    </div>

<!--    <form action="">-->
    <div class="form-row">
      <label for="healthcare_worker" class = "auto-length">Are you a healthcare worker?  Yes</label>
<!--        <input type="hidden" name="healthcare_worker" value="0">-->
        <input type="checkbox" name="healthcare_worker" id="healthcare_worker">
      <label for="job_title">Job Title</label>
        <input type="text" name="job_title" id="job_title">

    </div>

<!--    </form>-->

    <div class="form-group">
      <input type="submit" value="Register">
    </div>
  </form>
{% endblock %}