
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Schedule Appointments{% endblock %}</h1>
    <style>
    #schedule_appt {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    #schedule_appt td, #schedule_appt th {
    border: 1px solid #ddd;
    padding: 8px;
    }

    #schedule_appt tr:nth-child(even){background-color: #f2f2f2;}

    #schedule_appt tr:hover {background-color: #ddd;}

    #schedule_appt th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: royalblue;
    color: white;
    }

    .topnav input[type=text] {
    float: left;
    padding: 8px;
    border: solid;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    }

    #filter{
        background-color: #cccccc;
        width: 70px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="topnav">

    <label for="Date">Date:</label>
    <input type="date" id="date" name="date">

    <label for="location">Location:</label>
    <select name="location" id="location">
        <option value="Nothing selected" selected>-</option>
        {% for loc in avail_loc %}
          <option value="{{ loc }}">{{ loc }} </option>
        {% endfor %}
    </select>

    <label for="vctype">Vaccine Type:</label>
    <select name="vctype" id="vctype">
    <option value="Nothing selected" selected>-</option>
        {% for vc in vacc_types %}
          <option value="{{ vc }}">{{ vc }} </option>
        {% endfor %}
    </select>

    <input type="button", value="Filter", id="filter">

    </div>


    <div class="container">
      <input id="search" class="form-control" onkeyup="search_func()" type="text" placeholder="Search..." >

      <table class="table" id="schedule_appt">

      <thead>
          {%  for heading in header %}
              <th> {{ heading }} </th>
          {% endfor %}
      </thead>

      <tbody id="table_body">
          {%  for row in data %}
              <tr>
              {%  for cell in row %}
                  <td>
                  {{ cell }}
                  </td>
              {% endfor %}
              <td> <form method="post"> <input type="submit" name="schedule{{ row[0] }}" value="Schedule"> </form> </td>
              </tr>
          {%  endfor %}
      </tbody>
      </table>
    </div>

    <script>
    function search_func() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      table = document.getElementById("table_body");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        tds = tr[i].getElementsByTagName("td");
        tr[i].style.display = "none";
        for (j = 1; j < tds.length; j++) {
            td = tds[j];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              }
            }
        }
      }
    }
    </script>
{% endblock %}